<div class="w-full h-full bg-white rounded-xl">
  <div class="grid grid-cols-3 p-5">
    <div class="col-span-3 lg:col-span-1 rounded-xl border-2 p-3">
      <div class="flex justify-between">
        <p class="text-lg font-medium text-zinc-500">Company Info</p>
        <div>
          <label for="my-modal" class="btn btn-sm bg-zinc-100 text-zinc-600 border-0 hover:bg-zinc-300">Edit</label>
        </div>
      </div>
      <div class="overflow-x-auto mt-3">
        <table class="table w-full text-sm">
          <tbody>
            <!-- row 1 -->
            <tr>
              <td class="text-blue-500">Company Name :</td>
              <td>ProducTRY</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td class="text-blue-500">Company Sector :</td>
              <td>Supplyer</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td class="text-blue-500">Address :</td>
              <td class="whitespace-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td class="text-blue-500">City :</td>
              <td>Pune</td>
            </tr>
            <!-- row 2 -->
            <tr>
              <td class="text-blue-500">Pincode :</td>
              <td>400022</td>
            </tr>
            <!-- row 2 -->
          </tbody>
        </table>
      </div>

    </div>
  </div>
  </div>




  <!-- Put this part before </body> tag -->
  <input type="checkbox" id="my-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
  <!--  -->
  <div class="mt-3 flex gap-x-3">
    <!--  -->
    <div class="form-control  ">
      <label class="label">
        <span class="label-text">Company Name</span>
      </label>
      <input type="text" placeholder="Company Name" class="input input-bordered w-full" />
    </div>
    <!--  -->
    <div class="form-control  ">
      <label class="label">
        <span class="label-text">Company Sector</span>
      </label>
      <input type="text" placeholder="Sector" class="input input-bordered w-full" />
    </div>
    <!--  -->
  </div>

  <div class="form-control mt-3 ">
    <label class="label">
      <span class="label-text">Address</span>
    </label>
    <textarea type="text" placeholder="" class="textarea textarea-bordered w-full" cols="3"></textarea>
  </div>
  <!--  -->
  <div class="flex gap-x-3 mt-3">
    <div class="form-control ">
      <label class="label">
        <span class="label-text">City</span>
      </label>
      <input type="text" placeholder="" class="input input-bordered w-full" />
    </div>
    <!--  -->
    <div class="form-control ">
      <label class="label">
        <span class="label-text">Pincode</span>
      </label>
      <input type="text" placeholder="Pincode" class="input input-bordered w-full" />
    </div>
  </div>

  <div class="mt-3 flex justify-end">
    <label class="btn btn-primary" for="my-modal">Continue</label>
  </div>
  <!--  -->
    </div>
  </div>
