<div class="mb-8 flex items-center gap-x-4">
  <button class="btn bg-white hover:bg-blue-50 border-0 flex p-2 px-5" routerLink="/materials-selection">
    <p><i class="fa-solid fa-circle-check text-blue-500"></i></p>
    <p class="text-black font-medium capitalize ms-2">Matrial Selection</p>
  </button>
  <button class="btn bg-white hover:bg-blue-50 border-0 flex p-2 px-5" routerLink="/materials-procurement">
    <p><i class="fa-solid fa-bag-shopping text-blue-500"></i></p>
    <p class="text-black font-medium capitalize ms-2">Matrial Procurement</p>
  </button>
  <button class="btn bg-white hover:bg-blue-50 border-0 flex p-2 px-5">
    <p><i class="fa-solid fa-lightbulb text-blue-500"></i></p>
    <p class="text-black font-medium capitalize ms-2">ProducTRY knowledge center</p>
  </button>
  <button class="btn bg-white hover:bg-blue-50 border-0 flex p-2 px-5">
    <p><i class="fa-solid fa-circle-play text-blue-500"></i></p>
    <p class="text-black font-medium capitalize ms-2">Watch Tutorials</p>
  </button>
</div>



<h1 class="title-text mb-8">Your Projects</h1>


<div class="flex gap-4">
  <div class="w-[20rem] bg-white border border-gray-200 rounded-2xl " *ngFor="let items of projectData">
    <div class="p-5 flex items-center justify-center">
      <img class="rounded-t-lg w-[8rem] h-[8rem] cover-fill" src="{{items.img}}" alt="" />
    </div>
    <div class="p-5 flex justify-between items-center">
      <div class="">
        <p class="text-xs text-zinc-500">Project Name</p>
        <p class="text-md font-semibold">{{items.name}}</p>
      </div>
      <a href="#" class="inline-flex items-center px-2.5  text-sm font-medium text-center btn btn-primary btn-sm">
        <p>view</p>
        <p><i class="ms-2 fa-solid fa-arrow-right"></i></p>
      </a>
    </div>
    <div class="p-5 pt-0">
      <table class="border-separate border-spacing-y-2">
        <tbody class="text-xs ">
          <tr>
            <td>
              <p class="text-zinc-500">Product Sectore : </p>
            </td>
            <td><span class="text-blue-500">{{items.projectSector}}</span></td>
          </tr>
          <tr>
            <td>
              <p class="text-zinc-500">Project Organization Type :</p>
            </td>
            <td><span class="text-blue-500">{{items.ProjectOrganizationType}}</span></td>
          </tr>
          <tr>
            <td>
              <p class="text-zinc-500">Project Area Pincode :</p>
            </td>
            <td><span class="text-blue-500">{{items.projectAreaPincode}}</span></td>
          </tr>
          <tr>
            <td>
              <p class="text-zinc-500">Project Phase :</p>
            </td>
            <td><span class="text-blue-500">{{items.ProjectPhase}}</span></td>
          </tr>
        </tbody>
      </table>
    </div>


    <div class="px-5">
      <p class="  text-sm">Summary</p>
      <p class="text-xs text-justify mt-2 text-zinc-500 whitespace-normal tracking-tight">
        {{items.summary}}
      </p>
    </div>
    <div class="p-5">
      <div class="flex flex-wrap min-h-max gap-2">
        <span class="bg-blue-100 text-blue-500 px-3 py-1 rounded capitalize text-sm" *ngFor="let item of items.Parts">{{item}}</span>
      </div>
      <p class="text-sm mt-5">{{items.date}}</p>
    </div>
  </div>
  <div class=" w-[20rem]  rounded-xl">
    <label class="btn bg-white hover:bg-blue-50 border-0 w-full h-full" for="my-modal">
      <i class="text-secondary bi bi-plus-circle-dotted text-5xl"></i>
    </label>
  </div>
</div>

















<!-- modal -->
<input type="checkbox" id="my-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="form-control mt-3">
      <label class="label">
        <span class="label-text">Project Name</span>
      </label>
      <input type="text" placeholder="Project Name" class="input input-bordered w-full" />
    </div>

    <div class="flex gap-x-3 mt-3">
      <!--  -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Project Domain</span>
        </label>
        <input type="text" placeholder="Project Domain" class="input input-bordered w-full" />
      </div>
      <!--  -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Project Phase</span>
        </label>
        <input type="text" placeholder="Project Phase" class="input input-bordered w-full" />
      </div>
      <!--  -->
    </div>

    <div class="form-control mt-3">
      <label class="label">
        <span class="label-text">Project pincode (where project is building)</span>
      </label>
      <input type="text" placeholder="Project pincode" class="input input-bordered w-full" />
    </div>
    <!--  -->
    <div class="form-control mt-3">
      <label class="label">
        <span class="label-text">Project Description</span>
      </label>
      <input type="text" placeholder="Project Description" class="input input-bordered w-full" />
    </div>
    <!--  -->
    <div class="form-control mt-3">
      <label class="label">
        <span class="label-text">Project Material Category</span>
      </label>
      <input type="text" placeholder="Project Matrial Category" class="input input-bordered w-full" />
    </div>
    <!--  -->
    <div class="modal-action">
      <label for="my-modal" class="btn">finish</label>
    </div>
  </div>
</div>
