<nav class="bg-white p-3 flex justify-end items-center h-[4rem]">
  <!-- <i class="fa-solid fa-flask-vial"></i> -->
  <div class="flex gap-x-5 items-center">
    <div class="hidden" *ngIf="userType === 'user'">
      <button class="flex items-center btn bg-transparent border-0  btn-sm p-0 px-4 py-1 rounded-full  hover:bg-blue-100 text-blue-500">
        <div><i class="fa-solid fa-wallet text-xl"></i></div>
        <div class="ms-3 font-semibold text-sm">₹ 3650</div>
      </button>
    </div>
    <!-- <div *ngIf="userType === 'user'">
      <button class="w-[2.5rem] h-[2.5rem] flex justify-center items-center bg-blue-100 rounded-md text-blue-500" >
        <i class="fa-solid fa-cart-shopping"></i>
      </button>
    </div> -->
    <div>
      <button class="btn bg-transparent border-0 hover:bg-transparent p-0">
        <div class="avatar online placeholder">
          <div class=" text-neutral-content rounded-full w-9 bg-blue-100">
            <span><i class="fa-solid fa-bell text-sm text-blue-600"></i></span>
          </div>
        </div>
      </button>
    </div>


    <ng-container>
    <div class="dropdown dropdown-end" *ngIf="userType === 'user',else showVendor">
      <label tabindex="0" class="btn bg-transparent border-0 hover:bg-transparent">
        <div class="flex gap-x-2 items-center">
          <div class="avatar">
            <div class="w-8 rounded-full">
              <img src="https://i.pinimg.com/originals/99/12/15/99121582b0b475528445afd816f0621f.png" />
            </div>
          </div>
          <div class="text-secondary normal-case">
            <p>Hii 👋 Test</p>
          </div>
        </div>
      </label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow-md bg-base-100 rounded-box w-52">
        <li><a routerLink="profile">Profile</a></li>
        <!-- <li><a>Setting</a></li> -->
        <li><a  (click)="logOut()">logout</a></li>
      </ul>
    </div>
  </ng-container>

<ng-template #showVendor>
  <div class="dropdown dropdown-end">
    <label tabindex="0" class="btn bg-transparent border-0 hover:bg-transparent">
      <div class="flex gap-x-2 items-center text-secondary">
        <div>Productry</div>
        <div><i class="bi bi-chevron-down"></i></div>
      </div>
    </label>
    <ul tabindex="0" class="dropdown-content menu p-2 shadow-md bg-base-100 rounded-box w-52">
      <li><a routerLink="expert/profile">Profile</a></li>
      <li><a>Terms & Conditions</a></li>
      <li><a>Refer Us</a></li>
      <li><a>Change Password</a></li>
      <li><a  (click)="logOut()">logout</a></li>
    </ul>
  </div>
</ng-template>

  </div>
</nav>
