<h1 class="title-text mb-5">matrial selection</h1>



<!-- forms -->
<div class="w-full bg-white p-5 rounded-xl ">
  <p class="font-semibold">Project Specitication</p>
  <div class="grid grid-cols-3 gap-x-4 mt-5">

    <div class="">
      <label for="" class=" text-sm text-zinc-400 ">Project Select</label><br>
      <select class="select select-bordered w-full">
        <option disabled selected>Select Your Project</option>
        <option>Helmet</option>
        <option>Condenser</option>
      </select>
    </div>
    <div class="">
      <label for="" class=" text-sm text-zinc-400 ">Select Project Sub part</label><br>
      <select class="select select-bordered w-full">
        <option disabled selected>Select sub Parts</option>
        <option *ngFor="let items of parts">{{items}}</option>
      </select>
    </div>
    <div class="">
      <label for="" class=" text-sm text-zinc-400 ">Select Category</label><br>
      <select class="select select-bordered w-full">
        <option disabled selected>Select matrial Category</option>
        <option *ngFor="let items of MatrialCatagory">{{items}}</option>
      </select>
    </div>
  </div>

</div>


<div class="mt-10 w-[80%] mx-auto">
  <div class="flex ">
    <div class="tabs switch-tabs">
      <a id="properties" (click)="showForm($event)" class="tab  tab-lifted tab-active">Matrial by Properties</a>
      <a id="process" (click)="showForm($event)" class="tab  tab-lifted ">By Process</a>
      <a id="assistence" (click)="showForm($event)" class="tab  tab-lifted">Productry Assistence</a>
    </div>
  </div>
  <!-- main -->
  <div class="w-full bg-white p-5 rounded-xl rounded-tl-none">
    <!-- matrial by properties -->
    <div *ngIf="showMatrialByProperty">

      <div >
        <p class="mb-3 font-semibold">Physical Propertie</p>
        <table  class="items-center w-full border-collapse text-blueGray-700  ">
          <thead class="thead-light ">
            <tr>
              <th
                class="px-6 bg-blueGray-50 w-[60%] text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Property Name
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Range
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
                Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of parameterForMatrialByProperty.PhysicalProperties">
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
              {{items.name}}
              </td>
              <td>
                <div class="flex items-center gap-x-2 my-2">
                  <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
                  <i class="fa-solid fa-minus"></i>
                  <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
                </div>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                {{items.units}}
                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!--  -->
      <hr class="my-5">
      <!--  -->
      <div >
        <p class="mb-3 font-semibold">Mechanical Properties</p>
        <table class="items-center w-full border-collapse text-blueGray-700  ">
          <thead class="thead-light ">
            <tr>
              <th
                class="px-6 bg-blueGray-50 w-[60%] text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Property Name
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
                Range
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
                Unit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of parameterForMatrialByProperty.MechanicalProperties">
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
              {{items.name}}
              </td>
              <td>
                <div class="flex items-center gap-x-2 my-2">
                  <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
                  <i class="fa-solid fa-minus"></i>
                  <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
                </div>
              </td>
              <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
                {{items.units}}
                </td>
            </tr>
          </tbody>
        </table>
      </div>
 <!--  -->
 <hr class="my-5">
 <!--  -->
 <div >
   <p class="mb-3 font-semibold">Electrical Properties</p>
   <table class="items-center w-full border-collapse text-blueGray-700  ">
     <thead class="thead-light ">
       <tr>
         <th
           class="px-6 bg-blueGray-50 w-[60%] text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
           Property Name
         </th>
         <th
           class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
           Range
         </th>
         <th
           class="px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
           Unit</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let items of parameterForMatrialByProperty.ElectricalProperties">
         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
         {{items.name}}
         </td>
         <td>
           <div class="flex items-center gap-x-2 my-2">
             <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
             <i class="fa-solid fa-minus"></i>
             <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
           </div>
         </td>
         <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
           {{items.unit}}
           </td>
       </tr>
     </tbody>
   </table>
 </div>
  <!--  -->
  <hr class="my-5">
  <!--  -->
  <div >
    <p class="mb-3 font-semibold">Thermal Properties</p>
    <table class="items-center w-full border-collapse text-blueGray-700  ">
      <thead class="thead-light ">
        <tr>
          <th
            class="px-6 bg-blueGray-50 w-[60%] text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Property Name
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Range
          </th>
          <th
            class="px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
            Unit</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let items of parameterForMatrialByProperty.ThermalProperties">
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
          {{items.name}}
          </td>
          <td>
            <div class="flex items-center gap-x-2 my-2">
              <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
              <i class="fa-solid fa-minus"></i>
              <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
            </div>
          </td>
          <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            {{items.unit}}
            </td>
        </tr>
      </tbody>
    </table>
  </div>
    <!--  -->
    <hr class="my-5">
    <!--  -->
    <div >
      <p class="mb-3 font-semibold">Optical Properties</p>
      <table class="items-center w-full border-collapse text-blueGray-700  ">
        <thead class="thead-light ">
          <tr>
            <th
              class="px-6 bg-blueGray-50 w-[60%] text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Property Name
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Range
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
              Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of parameterForMatrialByProperty.OpticalProperties">
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            {{items.name}}
            </td>
            <td>
              <div class="flex items-center gap-x-2 my-2">
                <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
                <i class="fa-solid fa-minus"></i>
                <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
              </div>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
              {{items.unit}}
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!--  -->
    <hr class="my-5">
    <!--  -->
    <div >
      <p class="mb-3 font-semibold">Processing Properties</p>
      <table class="items-center w-full border-collapse text-blueGray-700  ">
        <thead class="thead-light ">
          <tr>
            <th
              class="px-6 bg-blueGray-50 w-[60%] text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Property Name
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Range
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-700 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left min-w-140-px">
              Unit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of parameterForMatrialByProperty.ProcessingProperties">
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            {{items.name}}
            </td>
            <td>
              <div class="flex items-center gap-x-2 my-2">
                <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
                <i class="fa-solid fa-minus"></i>
                <input type="text" class="bg-slate-100 w-[3rem] h-[3rem] rounded-md p-2">
              </div>
            </td>
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
              {{items.unit}}
              </td>
          </tr>
        </tbody>
      </table>
    </div>





    </div>
    <!-- matrial by properties -->
    <!-- By Process -->
    <div *ngIf="showByProcess">
      <h3>By Process</h3>
    </div>
    <!-- By Process -->
    <!-- Productry Assistence -->
    <div *ngIf="showProductryAssistence">

      <table  class="items-center w-full border-collapse text-blueGray-700  ">
        <thead class="thead-light ">
          <tr>
            <th
              class="px-6 bg-blueGray-50  text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Define Service Requirements
            </th>
            <th
              class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
              Details
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let items of parameterForProductryAssistence.DefineServiceRequirements">
            <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
            {{items}}
            </td>
            <td>
              <div class="my-2">
                <input type="text" placeholder="please fill {{items}}" class="input input-bordered w-full " />
              </div>
            </td>
          </tr>
        </tbody>
      </table>
 <!--  -->
 <hr class="my-5">
 <!--  -->
 <table  class="items-center w-full border-collapse text-blueGray-700  ">
  <thead class="thead-light ">
    <tr>
      <th
        class="px-6 bg-blueGray-50  text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        Manufacturing Requirement
      </th>
      <th
        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of parameterForProductryAssistence.ManufacturingRequirement">
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
      {{items}}
      </td>
      <td>
        <div class="my-2">
          <input type="text" placeholder="please fill {{items}}" class="input input-bordered w-full " />
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!--  -->
<hr class="my-5">
<!--  -->
<table  class="items-center w-full border-collapse text-blueGray-700  ">
  <thead class="thead-light ">
    <tr>
      <th
        class="px-6 bg-blueGray-50  text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        Material Property Requirement
      </th>
      <th
        class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
        Details
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let items of parameterForProductryAssistence.MaterialPropertyRequirement">
      <td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left">
      {{items}}
      </td>
      <td>
        <div class="my-2">
          <input type="text" placeholder="please fill {{items}}" class="input input-bordered w-full " />
        </div>
      </td>
    </tr>
  </tbody>
</table>
</div>
    <!-- Productry Assistence -->






<div class="flex justify-end">
  <button class="mt-16 btn btn-primary px-5 ">submit</button>
</div>
  </div>




  <!-- main -->
</div>
