<h1 class="title-text mb-5">Project Analytics</h1>
<div class="w-full bg-white p-5 rounded-xl">
  <p class="font-semibold">Project Specification</p>
  <div class="grid grid-cols-3 gap-x-4 mt-5">
    <div class="">
      <label for="" class="text-sm text-zinc-400">Select Project</label><br />
      <select class="select select-bordered w-full">
        <option disabled selected>Select Your Project</option>
        <option>Helmet</option>
        <option>Condenser</option>
      </select>
    </div>
  </div>
</div>

<div class="w-full bg-white p-5 rounded-xl mt-5">
  <p class="font-semibold">Purchase Details</p>
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mt-5">
    <table class="w-full text-sm text-left text-gray-500">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3">Component</th>
          <th scope="col" class="px-6 py-3">Material Selected</th>
          <th scope="col" class="px-6 py-3">Material Purchased</th>
          <th scope="col" class="px-6 py-3">Rate</th>
          <th scope="col" class="px-6 py-3">Quantity</th>
          <th scope="col" class="px-6 py-3">Unit</th>
          <th scope="col" class="px-6 py-3">Total Price</th>
          <th scope="col" class="px-6 py-3">Add Custom Material</th>
        </tr>
      </thead>
      <tbody>
        <tr class="bg-white border-b" *ngFor="let items of componentData">
          <th
            scope="row"
            class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap"
          >
            {{ items.name }}
          </th>
          <td class="px-6 py-4">
            <div class="flex items-center space-x-3">
              <div>
                <label for="underline_select" class="sr-only"
                  >Underline select</label
                >
                <select
                  id="underline_select"
                  class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer"
                >
                  <option selected>Choose Material</option>
                  <option value="">Material 1</option>
                  <option value="">Material 2</option>
                </select>
              </div>
              <label
                for="select-modal"
                class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
                type="button"
              >
                <span class="sr-only">Quantity button</span>
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </label>
            </div>
          </td>
          <td class="px-6 py-4">
            <label for="underline_select" class="sr-only"
              >Underline select</label
            >
            <select
              id="underline_select"
              class="block py-2.5 px-0 w-full text-sm text-gray-500 bg-transparent border-0 border-b-2 border-gray-200 appearance-none focus:outline-none focus:ring-0 focus:border-gray-200 peer"
            >
              <option selected>Choose Material</option>
              <option value="">Material 1</option>
              <option value="">Material 2</option>
            </select>
          </td>
          <td class="px-6 py-4">₹2999</td>
          <td class="px-6 hidden py-4">
            <div class="flex items-center space-x-3">
              <button
                class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
                type="button"
              >
                <span class="sr-only">Quantity button</span>
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
              <div>
                <input
                  type="number"
                  id="first_product"
                  class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1"
                  placeholder="1"
                  required
                />
              </div>
              <button
                class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
                type="button"
              >
                <span class="sr-only">Quantity button</span>
                <svg
                  class="w-4 h-4"
                  aria-hidden="true"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </button>
            </div>
          </td>
          <td class="px-6 py-4">2</td>
          <td class="px-6 py-4">Kg</td>
          <td class="px-6 py-4">₹5998</td>
          <td class="px-6 py-4">
            <label
              for="add-modal"
              class="font-medium text-blue-600 hover:underline"
              >Add</label
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
  <div class="w-full bg-white p-5 rounded-xl mt-5">
     
    <p class="font-semibold">Spend Analytics</p>
    <div class="grid grid-cols-3 gap-x-4 mt-5">
    <div class="">
      <label for="" class="text-sm text-zinc-500 mb-2">View By</label><br />
      <select class="select select-bordered w-full">
        <option disabled selected>Select Option</option>
        <option>Project</option>
        <option>Component</option>
      </select>
    </div>
    <div class="">
      <label for="" class="text-sm text-zinc-500 mb-2">Select Component</label><br />
      <select class="select select-bordered w-full">
        <option disabled selected>Select Option</option>
        <option *ngFor="let items of componentData">{{items.name}}</option>
        
      </select>
    </div>
  </div>
    <div id="chart" class="mt-5"></div>
  </div>

 


 <!-- modal -->
  <input type="checkbox" id="select-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="form-control mt-3">
        <label class="label">
          <span class="label-text">Material Name</span>
        </label>
        <input
          type="text"
          placeholder="enter selected material name"
          class="input input-bordered w-full"
        />
      </div>

      <div class="modal-action">
        <label for="select-modal" class="btn">Add</label>
      </div>
    </div>
  </div>

<!--add modal -->
<input type="checkbox" id="add-modal" class="modal-toggle" />
<div class="modal">
  <div class="modal-box">
    <div class="form-control mt-3">
      <label class="label">
        <span class="label-text">Material Purchased</span>
      </label>
      <input
        type="text"
        placeholder="enter material name"
        class="input input-bordered w-full"
      />
    </div>

    <div class="flex gap-x-3 mt-3">
      <!--  -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Rate</span>
        </label>
        <input
          type="text"
          placeholder="enter material cost"
          class="input input-bordered w-full"
        />
      </div>
      <!--  -->
      <div class="form-control">
        <label class="label">
          <span class="label-text">Unit</span>
        </label>
        <input
          type="text"
          placeholder="eg. kg"
          class="input input-bordered w-full"
        />
      </div>
      <!--  -->
    </div>
    <div class="form-control mt-3">
      <label class="label">
        <span class="label-text">Quantity</span>
      </label>
      <div class="flex items-center space-x-3">
        <button
          class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
          type="button"
        >
          <span class="sr-only">Quantity button</span>
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div>
          <input
            type="number"
            id="first_product"
            class="bg-gray-50 w-14 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block px-2.5 py-1"
            placeholder="1"
            required
          />
        </div>
        <button
          class="inline-flex items-center p-1 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-full focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-200"
          type="button"
        >
          <span class="sr-only">Quantity button</span>
          <svg
            class="w-4 h-4"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
      </div>
    </div>
    <div class="modal-action">
      <label for="add-modal" class="btn">Add</label>
    </div>
  </div>
</div>
