<div class="w-full min-h-[100vh] bg-zinc-100">
  <h1 class="title-text mb-5">Material Experts</h1>

  <div class="w-full bg-white p-5 rounded-xl">
    <p class="font-semibold">Project Specification</p>
    <div class="grid grid-cols-3 gap-x-4 mt-5">
      <div class="">
        <label for="" class="text-sm text-zinc-400">Select Project</label><br />
        <select class="select select-bordered w-full">
          <option disabled selected>Select Your Project</option>
          <option>Helmet</option>
          <option>Condenser</option>
        </select>
      </div>
    </div>
    <div class="mt-10 w-full mx-auto">
      <p class="font-semibold">Find Material Expert By</p>
      <div class="border-b border-gray-200">
        <ul
          class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 switch-tabs"
        >
          <li class="mr-2">
            <a
              id="by_category"
              (click)="showForm($event)"
              class="inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group cursor-pointer tabs active"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  fill-rule="evenodd"
                  d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
                  clip-rule="evenodd"
                ></path></svg
              >Material Category
            </a>
          </li>
          <li class="mr-2">
            <a
              id="by_sector"
              (click)="showForm($event)"
              class="inline-flex p-4 rounded-t-lg group cursor-pointer tabs"
              aria-current="page"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z"
                ></path></svg
              >Material Sector
            </a>
          </li>
          <li class="mr-2">
            <a
              id="by_assistance"
              (click)="showForm($event)"
              class="inline-flex p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300 group cursor-pointer tabs"
            >
              <svg
                aria-hidden="true"
                class="w-5 h-5 mr-2"
                fill="currentColor"
                viewBox="0 0 20 20"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M5 4a1 1 0 00-2 0v7.268a2 2 0 000 3.464V16a1 1 0 102 0v-1.268a2 2 0 000-3.464V4zM11 4a1 1 0 10-2 0v1.268a2 2 0 000 3.464V16a1 1 0 102 0V8.732a2 2 0 000-3.464V4zM16 3a1 1 0 011 1v7.268a2 2 0 010 3.464V16a1 1 0 11-2 0v-1.268a2 2 0 010-3.464V4a1 1 0 011-1z"
                ></path></svg
              >ProducTry Assistance
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- expert by category -->
  <div *ngIf="showExpertByCategory">
    <div class="p-4 mt-8">
      <div class="flex flex-row gap-x-6 justify-center materials-catagory">
        <div
          class="flex flex-col items-center gap-y-2"
          *ngFor="let items of categories"
        >
          <a
            id="material-expert-{{ items.id }}"
            class="cursor-pointer flex flex-col items-center gap-y-2 material-expert"
            (click)="ShowExperts(items.id)"
          >
            <div
              class="w-[4rem] h-[4rem] matrial-icon rounded-full bg-white p-2"
            >
              <img
                class="cover-fill rounded-full"
                src="{{ items.img }}"
                alt="metals"
              />
            </div>
            <p class="text-sm text-normal text-center">{{ items.name }}</p>
          </a>
        </div>
      </div>
    </div>
    <div class="flex justify-center">
      <div
        class="py-4 px-8 mt-8 flex justify-between items-center w-[90%] bg-white rounded-lg"
      >
        <p class="font-semibold">
          Tell us what Kind of expert are you looking for!
        </p>
        <label
          class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none cursor-pointer"
          for="required-expert-modal"
        >
          Find Now
        </label>
      </div>
    </div>
    <div id="select-experts">
      <!-- metal experts -->
      <div id="matrial-expert-1" class="form min-h-max w-full p-6 rounded-lg">
        <p class="title-text mb-6">Metal Experts</p>
        <app-experts></app-experts>
      </div>
      <!-- chemical experts -->
      <div id="matrial-expert-2" class="form min-h-max w-full p-6 rounded-lg">
        <p class="title-text mb-6">Chemical Experts</p>
        <app-experts></app-experts>
      </div>
      <!-- polymer experts -->
      <div id="matrial-expert-3" class="form min-h-max w-full p-6 rounded-lg">
        <p class="title-text mb-6">Polymer Experts</p>
        <app-experts></app-experts>
      </div>
      <!-- composites experts -->
      <div id="matrial-expert-4" class="form min-h-max w-full p-6 rounded-lg">
        <p class="title-text mb-6">composites Experts</p>
        <app-experts></app-experts>
      </div>
      <!-- ceramics experts -->
      <div id="matrial-expert-5" class="form min-h-max w-full p-6 rounded-lg">
        <p class="title-text mb-6">Ceramics Experts</p>
        <app-experts></app-experts>
      </div>
      <!-- natural material experts -->
      <div id="matrial-expert-6" class="form min-h-max w-full p-6 rounded-lg">
        <p class="title-text mb-6">Naural Material Experts</p>
        <app-experts></app-experts>
      </div>
    </div>
  </div>

  <!-- expert by sector -->
  <div *ngIf="showExpertBySector">
    <div class="mb-8 flex flex-wrap items-center gap-4 mt-6 px-1" >
      <button
        class="btn bg-white active hover:bg-blue-50 border-0 flex p-2 px-5"
        routerLink="/materials-selection" *ngFor="let items of sectors"
      >
        <p><i class="fa-solid fa-circle-check text-blue-500"></i></p>
        <p class="text-black font-medium capitalize ms-2">{{items}}</p>
      </button>
    </div>
    <div class="p-6">
    <app-experts></app-experts></div>
  </div>

  <!-- expert by assistance -->
  <div *ngIf="showExpertByAssistence">
    <div class="flex justify-center">
      <div class="md:w-full lg:w-[80%] bg-white p-5 mt-8 rounded-xl">
        <table class="items-center w-full border-collapse text-blueGray-700">
          <thead class="thead-light">
            <tr>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              >
                Define Service Requirements
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              >
                Details
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let items of parameterForProductryAssistence.DefineServiceRequirements
              "
            >
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
              >
                {{ items }}
              </td>
              <td>
                <div class="my-2">
                  <input
                    type="text"
                    placeholder="please fill {{ items }}"
                    class="input input-bordered w-full"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!--  -->
        <hr class="my-5" />
        <!--  -->
        <table class="items-center w-full border-collapse text-blueGray-700">
          <thead class="thead-light">
            <tr>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              >
                Manufacturing Requirement
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              >
                Details
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let items of parameterForProductryAssistence.ManufacturingRequirement
              "
            >
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
              >
                {{ items }}
              </td>
              <td>
                <div class="my-2">
                  <input
                    type="text"
                    placeholder="please fill {{ items }}"
                    class="input input-bordered w-full"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <!--  -->
        <hr class="my-5" />
        <!--  -->
        <table class="items-center w-full border-collapse text-blueGray-700">
          <thead class="thead-light">
            <tr>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              >
                Material Property Requirement
              </th>
              <th
                class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left"
              >
                Details
              </th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="
                let items of parameterForProductryAssistence.MaterialPropertyRequirement
              "
            >
              <td
                class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4 text-left"
              >
                {{ items }}
              </td>
              <td>
                <div class="my-2">
                  <input
                    type="text"
                    placeholder="please fill {{ items }}"
                    class="input input-bordered w-full"
                  />
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="flex justify-end">
         
          <button
           class="text-white bg-primary hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none mt-4"
            (click)="showRecommendedExpert()"
          >
            Find Now
          </button>
        </div>
      </div>
    </div>

    <div *ngIf="showRecommendedExperts">
      <p class="title-text mt-12">Recommened Experts</p>
      <div
        id="matrial-expert-1"
        class="form min-h-max w-full p-6 rounded-lg mt-8"
      >
        <app-experts></app-experts>
      </div>
    </div>
  </div>

  <!-- modal -->
  <input type="checkbox" id="required-expert-modal" class="modal-toggle" />
  <div class="modal">
    <div class="modal-box">
      <div class="form-control mt-3">
        <label class="label">
          <span class="label-text">Project Name</span>
        </label>
        <input
          type="text"
          placeholder="Project Name"
          class="input input-bordered w-full"
        />
      </div>

      <div class="flex gap-x-3 mt-3">
        <!--  -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Project Domain</span>
          </label>
          <input
            type="text"
            placeholder="Project Domain"
            class="input input-bordered w-full"
          />
        </div>
        <!--  -->
        <div class="form-control">
          <label class="label">
            <span class="label-text">Project Phase</span>
          </label>
          <input
            type="text"
            placeholder="Project Phase"
            class="input input-bordered w-full"
          />
        </div>
        <!--  -->
      </div>

      <div class="form-control mt-3">
        <label class="label">
          <span class="label-text">Explain your requirements here</span>
        </label>

        <textarea
          name=""
          id="expert-specification"
          class="bg-gray-50 w-full border rounded-md p-2"
          rows="7"
          placeholder="write here"
        ></textarea>
      </div>
      <!--  -->
      <div class="modal-action">
        <label for="required-expert-modal" class="btn">find</label>
      </div>
    </div>
  </div>
</div>
